
.info-timelapse {
    font-size: 1.7rem;
    color: White;
    font-family: 'Be Vietnam', sans-serif;
    text-align: left; 
    font-weight: 400;
}
.time {
    font-size: 1.7rem;
    color: White;
    font-family: 'Be Vietnam', sans-serif;
    text-align: left; 
    font-weight: 400;
}
.kunai {
    background: url(../img/27.png);
    background-size: contain;
    width: 90px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.slide1 {/*background: url(../img/testimonials/lang1.jpg)*/}
.slide2 {/*background: url(../img/testimonials/lang2.jpg)*/}
.slide3 {/*background: url(../img/testimonials/lang3.png)*/}

.slide-show {
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



.owl-theme .owl-controls {
    margin-top: 0;
}
.owl-next img {width: 60%;}
.owl-next {
    text-align: left;
}
.owl-prev img {width: 60%;}
.owl-prev {
    text-align: right;
}

.minato-price {
    min-height: 450px;
}

/* .minato-price::before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #0000001f;} */

.genin-price {
    /* background: url(../img/ve-genin-nobg.png); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    min-height: 450px;
}

/* .genin-price::before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #0000001f;} */

.team7-price {
    /* background: url(../img/ve-team7-nobg.png); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-color: #fca300; */
    min-height: 450px;
}

/* .team7-price::before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #0000001f;} */

.lgx-registration-area .lgx-single-registration .lgx-single-registration-inner {
    padding: 3rem 2rem 0rem;
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    /* transition: .5s; */
    /* top: 0; */
}

.single-bottom {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 20;
}

.single-bottom .title {
    top: -170px;
    position: relative;
    font-family: 'Be Vietnam', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3rem;
    color: White;
    margin-bottom: 0;
}

.single-bottom p {
    top: -50px;
    color: White;
    font-family: 'Be Vietnam', sans-serif;
    text-align: start;
    /* margin-top: -43px; */
    padding: 0rem 1rem 0rem 1rem;
    /* padding: 7rem; */
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
}

.single-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
}
.single-middle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: #0000001c;
}

.lgx-registration-area .lgx-single-registration .single-middle .price {
    font-family: Poppins,sans-serif;
    color: #fff;
    font-size: 6.8rem;
    line-height: 10.2rem;
    line-height: 8rem;
    font-weight: 900
}

.lgx-registration-area .lgx-single-registration .single-middle .price i {
    font-family: Poppins,sans-serif;
    font-size: 2.6rem;
    line-height: 3.9000000000000004rem;
    font-weight: 300;
    color: #fff;
    font-style: normal;
    position: relative;
    top: -30px
}

.lgx-registration-area .lgx-single-registration .single-middle .price span {
    font-family: Poppins,sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300;
    color: #fff
}

.lgx-travelinfo .lgx-travelinfo-single .title {
    color: #fda70a;
}

.lgx-sponsors .lgx-inner {
    background: none ;
}

h3.price {
    font-weight: 100;
    font-family: 'Be Vietnam', sans-serif;
    text-transform: uppercase;
    color: White;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    top: -170px;
}

.lgx-registration-area .lgx-single-registration:hover .single-bottom .title,
.lgx-registration-area .lgx-single-registration:hover .single-bottom p,
.lgx-registration-area .lgx-single-registration:hover .single-bottom .price{
    color: white !important;
}

.lgx-registration-area .lgx-single-registration:hover .single-bottom button {
    background: #3F8B42;
}

.lgx-header .menu-onscroll .lgx-nav-right .lgx-cart-area button {
    background: #fda70a;
}

.cover-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000085;
    z-index: 111;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
