<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from themearth.com/demo/html/emeet/view/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 26 Aug 2019 00:27:07 GMT -->

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>Mảnh ghép mới</title>
    <meta name="description" content="Timelapse Music Festival" />
    <meta name="keywords" content="Timelapse, Music, Festival, Timelapse Music Festival, Naruto Festival" />
    <meta name="author" content="webdevstudios.org" />

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="Đường chạy 3 cây" />
    <meta name="twitter:site" content="@webdevstudios" />
    <meta name="twitter:creator" content="@webdevstudios" />
    <meta name="twitter:url" content="https://mgmuitussh.azurewebsites.net/" />
    <meta name="twitter:title" content="Đường chạy 3 cây" />
    <!-- maximum 140 char -->
    <meta name="twitter:description" content="Đường chạy 3 cây" />
    <!-- maximum 140 char -->
    <meta name="twitter:image" content="/homepage/assets/img/banner.png" />
    <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Đường chạy 3 cây" />
    <meta property="og:url" content="https://mgmuitussh.azurewebsites.net/" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:site_name" content="Đường chạy 3 cây" />
    <!--meta property="fb:admins" content="" /-->
    <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/homepage/assets/img/banner.png" />
    <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <meta property="og:image" content="https://mgmuitussh.azurewebsites.net//homepage/assets/img/banner.png" />
    <meta property="og:image:secure_url"
        content="https://mgmuitussh.azurewebsites.net//homepage/assets/img/banner.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Đường chạy 3 cây" />
    <meta property="og:description" content="Đường chạy 3 cây" />

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="/homepage/assets/img/favicon.ico" />
    <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="/homepage/assets/img/favicon.ico" />
    <!-- this icon shows in browser toolbar -->

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="/homepage/assets/libs/bootstrap/css/bootstrap.min.css" media="all" />

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="/homepage/assets/libs/fontawesome/css/font-awesome.min.css" media="all" />

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="/homepage/assets/libs/maginificpopup/magnific-popup.css" media="all" />

    <!-- Time Circle -->
    <link rel="stylesheet" href="/homepage/assets/libs/timer/TimeCircles.css" media="all" />

    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="/homepage/assets/libs/owlcarousel/owl.carousel.min.css" media="all" />
    <link rel="stylesheet" href="/homepage/assets/libs/owlcarousel/owl.theme.default.min.css" media="all" />

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Oswald:400,700%7cPoppins:300,400,400i,600,600i,700,800,900" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">

    <!-- MASTER  STYLESHEET  -->
    <link id="lgx-master-style" rel="stylesheet" href="/intropage/assets/css/landing.css" media="all" />

    <!-- MODERNIZER CSS  -->
    <script src="/homepage/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="home">

    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


    <div class="container">
        <nav class="navbar navbar-m2p sidebar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- Dashboard -->
                        <h1 class="title"><a href="#first-section"> <span>Chiến dịch</span></a></h1>
                        <a href="#first-section-intro"><span class="fa fa-home mr-3"></span> Giới thiệu</a>
                        <a href="#first-section-message"><span class="fa fa-paper-plane mr-3"></span> Thông điệp</a>
                        <a href="#first-section-piece"><span class="fa fa-puzzle-piece mr-3"></span> Mảnh ghép xanh</a>
                        <a href="#first-section-knowledge"><span class="fa fa-lightbulb-o mr-3"></span> Tri thức mới</a>
                        <h1 class="title"><a href="#second-section"> <span>Đường chạy</span></a></h1>
                        <a href="#second-section-intro"><span class="fa fa-home mr-3"></span> Giới thiệu</a>
                        <a href="#second-section-section-message"><span class="fa fa-paper-plane mr-3"></span> Thông
                            điệp</a>
                        <a href="#second-section-goal"><span class="fa fa-bullseye mr-3"></span> Mục tiêu</a>







                    </ul>
                </div>
            </div>
        </nav>

                    <div class="content">
                        <h2 class="mb-4" id="first-section">Chiến dịch<br> tình nguyện<br> Mảnh Ghép Mới</h2>
                        <h1>
                            <div class="section-divider">
                                <h1 class="section-text" id="first-section-intro">Giới thiệu</h1>
                            </div>
                        </h1>
                        <p><strong>Chiến dịch Tình nguyện Mảnh Ghép Mới</strong> là chương trình tình nguyện cho sinh
                            viên hướng
                            đến mục tiêu bảo vệ môi trường và phát triển cộng đồng. Chương trình là sự kết hợp của Khoa
                            Công
                            Nghệ Phần Mềm trường Đại học Công Nghệ Thông Tin và Câu lạc Phông Xanh trực thuộc Bộ môn Lưu
                            trữ học
                            – Quản trị văn phòng, trường Đại học Khoa học Xã hội và Nhân văn TPHCM đồng tổ chức. </p>
                        <p>Trong suốt quá trình đi khảo sát thực tế và tại Bình Phước chúng tôi đã bắt gặp những hoàn
                            cảnh khó
                            khăn của nhiều hộ gia đình, cuộc sống của họ thiếu thốn nhiều về cơ sở vật chất cũng như
                            điều kiện
                            sống. Những em học sinh chưa được cung cấp đầy đủ những gì cần thiết có để phục vụ cho việc
                            học.
                            Thậm chí, nhiều em phải tạm gác ước mơ đến trường để đi phụ giúp gia đình, kiếm thêm thu
                            nhập cho
                            cuộc sống qua ngày.</p>
                        <h1 style="transform: rotate(180deg);">
                            <div class="section-divider">
                                <h1 class="section-text" id="first-section-message" style="transform: rotate(-180deg);">
                                    Thông
                                    điệp</h1>
                            </div>
                        </h1>
                        <p>Với thông điệp <strong>“Sống xanh- sống khỏe- chia sẻ yêu thương ”</strong>, Mảnh Ghép Mới
                            mong muốn
                            chung tay góp sức cùng xã hội trong sự nghiệp giáo dục, tiếp thêm động lực cho các em nhỏ
                            tiếp tục
                            ước mơ đến trường, san sẻ yêu thương cho những mảnh đời cơ cực, đồng thời phát huy hiệu quả
                            của một
                            chương trình an sinh đầy ý nghĩa. </p>
                        <p>Trong năm 2020, Chiến dịch tình nguyện Mảnh Ghép Mới có hai hoạt động chính là hoạt động gây
                            quỹ
                            <strong>“Mảnh Ghép Xanh”</strong> và hoạt động tình nguyện tại trường tiểu học Tô Vĩnh Diện,
                            huyện
                            Bù Đăng, tỉnh Bình Phước mang tên là <strong>“Tri Thức Mới”</strong>.</p>
                        <h1>
                            <div class="section-divider">
                                <h1 class="section-text" id="first-section-piece">Mảnh Ghép Xanh</h1>
                            </div>
                        </h1>
                        <p>Với <strong>“Mảnh Ghép Xanh”</strong> đây là một hoạt động vô cùng mới mẻ đối với cộng đồng
                            sinh
                            viên, Mảnh Ghép Xanh được tổ chức với mục đích lan tỏa thông điệp giảm rác thải nhựa, cùng
                            sinh viên
                            ý thức môi trường, lan tỏa ý thức sống xanh, bảo vệ môi trường bảo vệ sức khỏe trong cộng
                            đồng. Hoạt
                            động có 2 sự kiện quan trọng thu hút đông đảo sinh viên tham gia là <strong>Đường chạy 3
                                Cây</strong> sự kiện chạy bộ gây quỹ chung tay vun đấp cho cộng đồng và sự kiện
                            <strong>Ngày hội
                                “Xanh”</strong> lan tỏa thông điệp sống xanh đến với cộng đồng bằng các gian hàng, vật
                            phẩm thân
                            thiện với môi trường vô cùng phong phú và bắt mắt của các nhà doanh nghiệp, các tổ chức môi
                            trường
                            hay các gian hàng trò chơi nhân gian mang đầy ý nghĩa nhân văn về môi trường, các gian hàng
                            thức ăn
                            ngon, sạch nói không với đồ nhựa và túi nilong. Ngoài ra, không thể thiếu không khí nháo
                            nhiệt,
                            khuấy động chương trình của các ca sĩ khách mời và các phần quà vô cùng hấp dẫn tại ngày
                            hội.
                        </p>
                        <h1 style="transform: rotate(180deg);">
                            <div class="section-divider">
                                <h1 class="section-text" id="first-section-knowledge"
                                    style="transform: rotate(-180deg);">Tri
                                    thức mới</h1>
                            </div>
                        </h1>
                        <p>
                            <strong>“Tri Thức Mới”</strong> đây là một hoạt động thiện nguyện ngắn ngày tại
                            <strong>Trường Tiểu
                                học Tô Vĩnh Diện, huyện Bù Đăng, tỉnh Bình Phước và xã Bình Minh, huyện Bù Đăng, tỉnh
                                Bình
                                Phước.</strong> Tại địa phương, các chiến sĩ sẽ phối hợp cùng cán bộ địa phương xây dựng
                            hàng
                            rào dài 236m bảo vệ trường học. Tổ chức <stron>ngày hội “Tri Thức”</strong> tiếp thêm nghị
                                lực cho
                                học sinh nơi đây vươn lên thực hiện ước mơ của mình. Ngoài ra, các chiến sĩ sẽ là người
                                đại diện
                                trao các phần quà vô cùng ý nghĩa, chân thành từ các mạnh thường quân, nhà tài trợ cũng
                                như quỹ
                                quyên góp của tất cả các bạn sinh viên tại “Mảnh Ghép Xanh” đến cho những em học sinh và
                                các gia
                                đình chính sách có hoàn cảnh khó khăn. Đồng thời “Tri Thức Mới” không chỉ là những đóng
                                góp tích
                                cực cho cộng đồng mà đây cò là hoạt động tăng thêm tinh thần đoàn kết, nuôi dưỡng tình
                                yêu
                                thương trong cộng đồng sinh viên Thành phố Hồ Chí Minh.
                        </p>
                        <h2 class="headcontent" id="second-section">Đường chạy 3 cây</h2>
                        <h2 class="subcontent">SỰ KIỆN CHẠY BỘ GÂY QUỸ CHUNG TAY VUN ĐẮP CHO CỘNG ĐỒNG</h2>
                        <h1>
                            <div class="section-divider" id="second-section-intro">
                                <h1 class="section-text">Giới thiệu</h1>
                            </div>
                        </h1>
                        <p><strong>Đường chạy 3 Cây</strong> - sự kiện chạy bộ vì sức khỏe, vì môi trường và vì cộng
                            đồng do
                            trường <strong>Đại học Công nghệ Thông tin và Đại học Khoa học Xã hội và Nhân văn tổ
                                chức.</strong>
                        </p>
                        <h1 style="transform: rotate(180deg);">
                            <div class="section-divider" id="second-section-message">
                                <h1 class="section-text" style="transform: rotate(-180deg);">Thông điệp</h1>
                            </div>
                        </h1>
                        <p>Với thông điệp <strong>“Một Xanh- Một Khỏe- Một Thương”</strong> - Xanh từ ý thức, Khỏe từ
                            bước chân,
                            Thương từ nghĩa cử. <strong>Lộ trình 3km</strong> là nơi trái tim nối nhịp trái tim, cùng
                            chung tay
                            ghép nên những mảnh đời mới, những tương lai mới bằng chính ý thức và trái tim chân thành
                            của chúng
                            ta..</p>
                        <h1>
                            <div class="section-divider" id="second-section-goal">
                                <h1 class="section-text">Mục tiêu</h1>
                            </div>
                        </h1>
                        <p>Sự kiện không chỉ là ngày chủ nhật ý nghĩa vui chơi, giải trí cùng bạn bè mà còn tăng cường
                            tinh thần
                            thể thao rèn luyện sức khỏe cho cộng đồng sinh viên Thành Phố. Hơn hết, sự tham gia của mỗi
                            cá nhân
                            là một đóng góp to lớn trong việc lan tỏa các thông điệp sống xanh- sống khỏe, bảo vệ môi
                            trường,
                            đây cũng là cơ hội tuyệt vời để xây dựng tinh thần đoàn kết tập thể, chung tay quyên góp
                            giúp đỡ các
                            tổ chức xã hội còn thiếu thốn về cơ sở vật chất và các già đình có hoàn cảnh khó khăn tại
                            <strong>Huyện Bù Đăng, tỉnh Bình Phước.</strong>
                        </p>
                    </div>
                </div>
                <div class="logo-rectangle">
                    <div class="logo">
                        <img src="/intropage/assets/img/Logo.png" alt="logo" style="width: 100%; height: 100%">

                    </div>
                </div>








    </div>

    <!-- *** ADD YOUR SITE SCRIPT HERE *** -->
    <!-- JQUERY  -->
    <script src="/homepage/assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!-- BOOTSTRAP JS  -->
    <script src="/homepage/assets/libs/bootstrap/js/bootstrap.min.js"></script>

    <script src="/intropage/assets/js/jquery.min.js"></script>
    <script src="/intropage/assets/js/popper.js"></script>
    <script src="/intropage/assets/js/bootstrap.min.js"></script>
    <script src="/intropage/assets/js/main.js"></script>
    <script type="text/javascript">
        var body = document.body,
            html = document.documentElement;
        var height = Math.max(body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight);

        $('body').append('<style>.logo-rectangle:after{height:' + (height) + 'px;}</style>');

    </script>




</body>

<!-- Mirrored from themearth.com/demo/html/emeet/view/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 26 Aug 2019 00:28:29 GMT -->

</html>